html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding: 0;
    
}

#page-1{
    background-color: #9d9fb1;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.page h1{
    margin: 1rem;
    font-size: 3rem;
    animation:fadeInDown;
    animation-duration: 1.8s;
}

.page p {
    font-size: 22px;
    animation: backInLeft;
    animation-duration: 2s;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    color: #333;
    border: none;
    font-size: 1.2rem;
    transition: all .3s ease-in;
    
}

.btn:hover{
    background-color: rgb(243, 139, 139);
    color: #f4f4f4;
}


.page1{
    height: 100vh;
    
}

.navbar{
	position:fixed; 
    top:0px; 
    left:0px; 
    right:0px; 
    height:70px; 
    background:rgba(0.8);  
    animation:fadeInDown;
    animation-duration: 1.8s;
}




.ba{
    display: none;
    
}

#page-2{

    font-family: 'Noto Sans', sans-serif;
    
}

#page-2 h2{
    border-bottom: 1px solid black;
}

#page-2 img{
    
    height:360px;
    width:360px;   
     
    
}

#page-3{
    display: flex;
}

#page-3 p{

    text-align: center;
    
    
    border-bottom:1px solid black ;

}

